@()(implicit request: RequestHeader)

<!DOCTYPE html>

<html lang="en" ng-app="snakes">
    <head>
        <title>Snakes battle</title>
        <link rel="stylesheet" media="screen" href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css"/>
        <link rel="stylesheet" media="screen" href="/assets/stylesheets/main.css")"/>
        <link rel="shortcut icon" type="image/png" href="/assets/images/favicon.png")"/>
        <script src="/assets/javascripts/jquery-1.9.0.min.js" type="text/javascript"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular.min.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.7/angular-resource.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="/assets/javascripts/snakeCtrl.js" type="text/javascript"></script>
    </head>
    <body ng-controller="SnakesCtrl" ng-init="onInit('@routes.Application.webSocket().webSocketURL()')">
        <div id="modalGameover" class="modal hide" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header"><h1>Game over!</h1></div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
        <div class="container-fluid">
            <div class="row-fluid"><br/>
                <div class="span8 offset2">
                    <table>
                        <tr><td colspan="2">
                                <div class="well text-center">
                                    <h1>Snakes battle!</h1>
                                </div>
                            </td></tr>
                        <tr><td colspan="2">
                                <div class="well" ng-show="gameData.state=='waiting'">
                                    <div>
                                    <form><fieldset>
                                        <legend>Enter your player name to join the game</legend>
                                        <label for="playerName">Enter your player name</label>
                                        <input id="playerName" type="text" ng-bind="gameData.currentPlayer"></input>
                                        <button type="submit" class="btn btn-primary" ng-click="onJoinClick">Join</button>
                                    </fieldset></form>
                                    </div>
                                </div>
                                <div class="well" ng-hide="gameData.state=='waiting'">
                                    Your player name is {{gameData.currentPlayer}}
                                </div>
                            </td></tr>
                        <tr>
                            <td>
                                <table>
                                    <tr ng-repeat="boardRow in gameData.board">
                                        <td ng-repeat="boardCell in boardRow">{{boardCell}}</td>
                                    </tr>
                                </table>
                            </td>
                            <td><table>
                                    <tr><td colspan="2">Score:</td></tr>
                                    <tr ng-repeat="(player,score) in gameData.score">
                                        <td>{{player}}</td>
                                        <td>{{score}}</td>
                                    </tr>
                                </table></td>
                        </tr>
                    </table>
                    @*<div class="row">
                        <div class="well text-center">
                            <h1>Snakes battle!</h1>
                        </div>
                    </div>
                    <br/>
                    <div class="row">
                        <div class="span9 well"></div>
                        <div class="span3 well"></div>
                    </div> *@
                </div>
            </div>
        </div>

    </body>
</html>
